<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maifeng.fashiongo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.maifeng.fashiongo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 基本信息 -->
        <activity
            android:name="com.maifeng.fashiongo.Basic_Info_Activity"
            android:label="@string/app_name" >
        </activity>
        <!-- 收货地址 -->
        <activity
            android:name="com.maifeng.fashiongo.Goods_Address_Activity"
            android:label="@string/app_name" >
        </activity>
        <!-- 新增地址 -->
        <activity
            android:name="com.maifeng.fashiongo.New_Goods_Address_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="con.maifeng.fashiongo.FirstClassifyActivity" />
    </application>

</manifest>